<footer class="site-footer">
    <div class="container">
      {% block footer_content %}
      <div class="row">
        <div class="footer-links">
          {% block footer_nav %}
            <div class="col-md-4">
    
            </div>
            <div class="col-md-4">
                {% block footer_lang %}
                    {% snippet "snippets/language_selector.html" %}
                {% endblock %}
            </div>
            <div class="col-md-4">
            
            </div>
            
          {% endblock %}
      </div>
      {% endblock %}
    </div>
</footer>