<div role="main" class="hero">
  <div class="container below-search">
    <div class="row row2">
      <div class="col-md-6 column">
        {% block promoted %}
          {% snippet 'home/snippets/promoted.html' %}
        {% endblock %}
      </div>
      <div class="col-md-6 column">
        {% block stats %}
          {% snippet 'home/snippets/stats.html' %}
        {% endblock %}
        <br>
        <div class="box links">
          <div class="inner">
            <h3>Resources</h3>
            <table class="homepage-table table table-responsive">
              <tr>
                <th>Service Type<br></th>
                <th>Service URL<br></th>
                <th>Documentation</th>
              </tr> 
            </table>
          </div>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row">
      {% block search %}
        {% snippet 'home/snippets/search.html' %}
      {% endblock %}
    </div>
  </div>
</div>
